{% extends "index.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Actor Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
<body>
    {% block content %}
    <div class="container">
        <div class="film-details">
            <h1>{{ actor.actor_name }}</h1>
            <img src="{{ actor.image }}" width="700" 
            height="700" alt="{{ actor.actor_name }}" class="poster">
            <p><strong>About:</strong> {{ actor.description }}</p>
            <h2>Movies</h2>
            <ul>
                {% for movie in actor.movies %}
                    <a href="{{ url_for('detail', movie_id=movie.id) }}">
                        <li>{{ movie.movie_name }}</li>
                    </a>
                {% endfor %}
            </ul>
            <a href="{{ actor.url }}">link to imdb</a>
            <button id="delete_btn" class="delete-button">Delete</button>
            <script>
                function showMessageAndRedirect() {
                    // Показываем сообщение об успехе и анимацию
                    document.getElementById('successMessage').style.display = 'block';

                    setTimeout(() => {
                        // Скрываем сообщение и анимацию через заданный интервал времени
                        document.getElementById('successMessage').style.display = 'none';

                        // Выполняем редирект на главную страницу
                        window.location.href = 'http://0.0.0.0:9090/actors';
                    }, 3000); // Задержка в 3 секунды перед редиректом
                }
                document.getElementById('delete_btn').addEventListener('click', function() {
                // Create a FormData instance
                    var formData = new FormData();

                    // Append form inputs to the FormData instance
                    formData.append('id', '{{ actor.id }}');

                    // Prepare to send the FormData object via AJAX
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/delete_movie_actor'); // Replace '/your-endpoint' with your actual endpoint
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            console.log(xhr.responseText); // Handle the response from the server
                        }
                    };

                    // Send the FormData object
                    xhr.send(formData);
                    showMessageAndRedirect();
                });
            </script>
        </div>
    </div>
    {% endblock %}
</body>
</html>
