{% extends "index.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>REST for movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
<body>
    {% block content %}
    <div class="submit_form">
        <h1>IMDB ID</h1>
        <form action="/{{ link }}" method="{{ method }}">
            <!-- Поле ввода для ID фильма -->
            <input type="text" name="movie_id" required>
            <button type="submit">Enter</button>
        </form>
        <h2>{{ message }}</h2>
    </div>
    {% endblock %}
</body>
</html>
