<!DOCTYPE html>

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Film Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Film Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('actors') }}">Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_movie_actor') }}">Add Movie/Actor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('delete_movie_actor') }}">Delete Movie/Actor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('update_movie') }}">Update Movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('update_actor') }}">Update Actor</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <div class="container">
        <ul class="film-list">
            {% for movie in movies %}
                <li>
                    <a href="{{ url_for('detail', movie_id=movie.id) }}">
                        <img src="{{ movie.poster }}" alt="{{ movie.movie_name }}">
                        <h3>{{ movie.movie_name }}</h3>
                        <span>{{ movie.rating }} ★</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
