<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Film Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <ul class="film-list">
            {% for movie in movies %}
                <li>
                    <a href="{{ url_for('detail', movie_id=movie.id) }}">
                        <img src="{{ movie.poster }}" alt="{{ movie.movie_name }}">
                        <h3>{{ movie.movie_name }}</h3>
                        <span>{{ movie.rating }} ★</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
